@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

html {
  font-size: 62.5%;;
}

body {
	font-size: 1.6rem;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

ul {
	list-style: none;
	display: flex;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 960px;
}

/* header */
header {
	background: url('../img/capa-madmax2.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;

	height: 90vh;
	width: 100%;
	padding: 20px;
}

header::after {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75%);

	height: 100%;
	width: 100%;
}

/* nav */
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-list {
	align-items: center;
	z-index: 2;
}

.nav-list li a {
	margin: 0 25px;

	font-size: 1.3rem;
	font-weight: bold;

	transition: all 0.2s ease-in-out;
}

.nav-list li a:hover {
	color: #e4bb23 !important;
}

.nav-profile {
	display: flex;
	align-items: center; 
}

.nav-profile img {
	width: 45px;
	border-radius: 50%;
}

.nav-profile span {
	font-size: 1.3rem;
	font-weight: bold;
	margin-left: 15px;
}

/* content header */
.content {
	position: relative;
	z-index: 2;
}

.content-title {
	margin: 0;
	font-size: 6.5rem;
}

.content-list {
	margin: 15px 0 30px;
	padding: 0;
}

.content-list li a {
	margin-right: 15px;
	font-size: 1.3rem;
	
	transition: all 0.2s ease-in-out;
}

.content-list li a:hover {
	color: #e4bb23 !important;
}

.content-button {
	color: #333;
	background-color: #e4bb23;
	font-weight: bold;
	border-radius: 25px;

	margin: 0;
	padding: 16px 40px;
	position: relative;

	transition: all 0.2s ease-in-out;
}

.content-button i {
	padding-left: 8px;
}

.content-button:hover {
	background-color: #bc9a1d;
}

.content-info {
	color: #fff; 
	padding: 20px 0;
}

.content-info p + p {
	color: #bc9a1d;
}

/* catalogo menu */
.catalogo {
	background-color: #f2f2f2;
}

.catalogo-list {
	justify-content: center;
	align-items: center;

	margin: 0 auto;
	padding: 0 20px;
	height: 67px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.catalogo-list li {
	margin: 0 20px;
}

.catalogo-list li a {
	color: #e4bb23;
	font-size: 1.3rem;
	font-weight: bold;

	padding: 25px 0;
	transition: all 0.2s ease-in-out;
}

.catalogo-list li a:hover {
	box-shadow: inset 0 -1px 0 #e4bb23;
}

/* movies */
.movie-list {
	justify-content: space-between; 
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: row;

	padding: 20px 0;
	width: 100%;
}

.movie-item {
	display: flex;
	flex-direction: column;

	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	margin-bottom: 30px;
	width: 24%;
	overflow: hidden;
}

/* movie poster */
.movie-poster {
	margin: 0;
	position: relative;

	width: 100%;
	height: auto;

  overflow: hidden;
}

.movie-poster img {
	width: 100%;
	height: auto;
}

.movie-poster-hover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;
	padding: auto;
	background-color: rgba(0, 0, 0, 0.5);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	opacity: 0;
	visibility: hidden;

	transition: all 0.2s ease-in-out;
}

.movie-poster-hover span {
	color: #e4bb23;
	font-size: 2.0rem;
	font-weight: bold;
}

.movie-poster-hover a {
	color: #fff;
	font-size: 5.0rem;
	transition: all 0.2s ease-in-out;
}

.movie-poster-hover a:hover {
	color: #e4bb23;
}

.movie-list li:hover .movie-poster-hover{
	opacity: 1;
	visibility: visible;
}

/* movie content */
.movie-info {
	padding: 10px;
	width: 100%;
}

.movie-title {
	margin: 0;
	color: #333;
	font-weight: bold;
	font-weight: 1.3rem;
}

.movie-types {
	margin: 10px 0;
}

.movie-types .type {
	color: #e4bb23;
	font-size: 1.4rem;
	margin-right: 8px;
}

.movie-types .type:hover {
	text-decoration: underline;
}

.movie-footer {
	display: flex;
	justify-content: space-between;

	font-weight: bold;
}

.movie-footer i {
	color: #ccc;
	font-size: 1.8rem;
  cursor: pointer;
}

.movie-footer i:hover {
	color: #e74c3c;
}

.movie-footer span {
	color: #333;
}

/* footer */
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 16px 0;
}

.icons li a {
	color: #bababa;
	font-size: 2.5rem;
	margin-left: 32px;
}

.icons li:nth-child(1):hover a {
	color: #55acee;
}

.icons li:nth-child(2):hover a {
	color: #3b5998;
}

.icons li:nth-child(3):hover a {
	color: #e95950;
}